[Unit]
Description=Test Server
Documentation=https://githhub.com/devilcove/httpclient
After=network.target network-online.target
Requires=network-online.target

[Service]
Type=simple
User=mkasun
Group=mkasun
ExecStart=/usr/bin/testserver
TimeoutStopSec=5s
Restart=on-failure

[Install]
WantedBy=multi-user.target
